.game{
    font-family: "Nosifer", cursive;
    font-weight: 900;
    background-image: url('../../assets/background.png');
    height: 100vh;
    width: 100vw;
}
.header-line {
    height: 0.3em;
    width: 100vw;
    background-color: #fad8de;
    box-shadow: 0px 2px 3px 0px #b7949b;
    -webkit-box-shadow: 0px 2px 3px 0px #b7949b;
    -moz-box-shadow:0px 2px 3px 0px #b7949b;
    z-index: 2;
    position: fixed;
}
.user {
    position: fixed; 
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 10%;
    left: 45%;
    padding: 0.5em;
    font-size: 0.7em;
    letter-spacing: 1.3px;
    background-color: #fad8de;
    color: #f38094;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0px 2px 3px 0px #b7949b;
    -webkit-box-shadow: 0px 2px 3px 0px #b7949b;
    -moz-box-shadow:0px 2px 3px 0px #b7949b;
    z-index: 5;
}
.game-status {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: white;
    background: repeating-linear-gradient(
        -45deg,
        #f38094,
        #f38094 15px,
        #fad8de 15px,
        #fad8de 30px
    );
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    -webkit-box-shadow: 0px -2px 20px 0px #00000070 inset;
    -moz-box-shadow: 0px -2px 20px 0px #00000070 inset;
    box-shadow: 0px -2px 20px 0px #00000070 inset;
}
// .game-status::before {
// 	content: "";
//     position: absolute;
//     color: white;
//     width: 40px;
//     height: 40px;
//     right: 8px;
//     top: 4%;
//     background: radial-gradient(circle at 100% 100%, #ffffff -5%, rgba(255, 255, 0, 0) 50%);
//     border-radius: 1rem;
// }

// .game-status::after {
// 	content: "";
//     position: absolute;
//     color: white;
//     width: 40px;
//     height: 40px;
//     left: 8px;
//     top: 4%;
//     background: radial-gradient(circle at 40% 100%, #ffffff -5%, rgba(255, 255, 0, 0) 50%);
//     border-radius: 1rem;
//     z-index: 5;
// }

.score {
    background-color: #e17789;
    border: 1px #f4f4f4 solid;
    border-radius: 20px;
    position: relative;
    width: 40%;
    height: fit-content;

    .score-bar {
        max-width: 100%;
        text-align: center;
        border-radius: 20px;
        background: #1082e5;
    }
}

.target {
    background-color: #e17789;
    border: 1px #f4f4f4 solid;
    border-radius: 20px;
    position: relative;
    width: 40%;
    padding: 1%;
    text-align: center;
}

.game-board {
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 5%;
    background-color: rgba(109, 127, 151, 0.5);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    color: #85796b;
}