.game{
    font-family: "Nosifer", cursive;
    font-weight: 900;
    background-image: url('../../assets/background.png');
    height: 100vh;
    width: 100vw;
}
.header-line {
    height: 0.3em;
    width: 100vw;
    background-color: #fad8de;
    box-shadow: 0px 2px 3px 0px #b7949b;
    -webkit-box-shadow: 0px 2px 3px 0px #b7949b;
    -moz-box-shadow:0px 2px 3px 0px #b7949b;
    z-index: 2;
    position: fixed;
}
.user {
    position: fixed; 
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 10%;
    left: 45%;
    padding: 0.5em;
    font-size: 0.7em;
    letter-spacing: 1.3px;
    background-color: #fad8de;
    color: #f38094;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0px 2px 3px 0px #b7949b;
    -webkit-box-shadow: 0px 2px 3px 0px #b7949b;
    -moz-box-shadow:0px 2px 3px 0px #b7949b;
    z-index: 5;
}
.game-status {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: white;
    background: repeating-linear-gradient(
        -45deg,
        #f38094,
        #f38094 15px,
        #fad8de 15px,
        #fad8de 30px
    );
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    -webkit-box-shadow: 0px -2px 20px 0px #00000070 inset;
    -moz-box-shadow: 0px -2px 20px 0px #00000070 inset;
    box-shadow: 0px -2px 20px 0px #00000070 inset;
}
// .game-status::before {
// 	content: "";
//     position: absolute;
//     color: white;
//     width: 40px;
//     height: 40px;
//     right: 8px;
//     top: 4%;
//     background: radial-gradient(circle at 100% 100%, #ffffff -5%, rgba(255, 255, 0, 0) 50%);
//     border-radius: 1rem;
// }

// .game-status::after {
// 	content: "";
//     position: absolute;
//     color: white;
//     width: 40px;
//     height: 40px;
//     left: 8px;
//     top: 4%;
//     background: radial-gradient(circle at 40% 100%, #ffffff -5%, rgba(255, 255, 0, 0) 50%);
//     border-radius: 1rem;
//     z-index: 5;
// }

.score {
    background-color: #e17789;
    border: 1px #f4f4f4 solid;
    border-radius: 20px;
    position: relative;
    width: 40%;
    height: fit-content;

    .score-bar {
        max-width: 100%;
        text-align: center;
        border-radius: 20px;
        background: #1082e5;
    }
}

.target {
    background-color: #e17789;
    border: 1px #f4f4f4 solid;
    border-radius: 20px;
    position: relative;
    width: 40%;
    padding: 1%;
    text-align: center;
}

.game-board {
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 5%;
    background-color: rgba(109, 127, 151, 0.5);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    color: #85796b;
}
.winner-pop {
    position: absolute;
    top: 50%;
    right: 41%;
    color: #e17789;
    font-size: 2rem;
    background: white;
    padding: 2%;
    border-radius: 24px;
    box-shadow: inset -4px -4px 5px rgb(247 177 236 / 84%), inset 4px 4px 5px rgb(52 52 52 / 28%);

    button {
        display: inline-block;
        outline: 0;
        border: 0;
        cursor: pointer;
        transition: box-shadow 0.15s ease,transform 0.15s ease;
        will-change: box-shadow,transform;
        background: #e17789;
        box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #fad8de;
        height: 48px;
        padding: 0 32px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 6px;
        color: #fff;
        transition: box-shadow 0.15s ease,transform 0.15s ease;
        margin-left: 20%;
    }
    button:hover {
        box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
        transform: translateY(-2px);
    }
    button:active{
        box-shadow: inset 0px 3px 7px #d6d6e7;
        transform: translateY(2px);
    }
    
}

@media (max-width: 991px) {
    .game{
        display: none;
    }
    .main::before{
        content: "Try running it on the Laptop/PC.";
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
    .main::after {
        // content: url("https://i.giphy.com/media/VI1yUjT1HhQgTgZ7KF/giphy.webp");
        content: url("https://i.giphy.com/media/WmtamjHZys1MohYGPT/giphy.webp");
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
}